<!-- footer -->
<footer>
    <a href="#inicio" class="arriba" title="Volver arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://www.facebook.com/YOUR_PROFILE" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/yafth5/profilecard/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/yky10" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
    </div>
    <p>© 2024 Yoshua Kevin Yafeth de León Ovalle</p>
</footer>
<script src="/assets/JS/menu.js"></script>
