<header>
    <div class="logo">
        <a href="/">
            <!-- Agrega tu imagen aquí -->
            <img src="https://i.imgur.com/QueAj6q.jpg" alt="Yoshua" />

    </div>
    <nav id="nav">
        <ul>
            <li><a href="/" class="nav-button" onclick="seleccionar()">INICIO</a></li>
            <li><a href="/acercademi" class="nav-button" onclick="seleccionar()">ACERCA DE MI</a></li>
            <li><a href="/destrezas" class="nav-button" onclick="seleccionar()">DESTREZAS</a></li>
            <li><a href="/proyectos" class="nav-button" onclick="seleccionar()">PROYECTOS</a></li>
            <li><a href="/contacto" class="nav-button" onclick="seleccionar()">CONTACTO</a></li>
        </ul>
    </nav>
    <div class="nav-responsive" onclick="mostrarOcultarMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
    
</header>

