 <header>
            <div class="logo">
                <a href="/home">Regresar</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="/" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="/acercademi" onclick="seleccionar()">ACERCA DE MII</a></li>
                    <li><a href="/destrezas" onclick="seleccionar()">DESTREZAS</a></li>
                    <li><a href="/proyectos" onclick="seleccionar()">PROYECTOS</a></li>
                    <li><a href="/contacto" onclick="seleccionar()">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>