<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
   
    <title>Portfolio</title>

    <!-- MENU ENCABEZADO -->
    {{> header}}


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-image: url('/images/play.jpg'); /* Reemplaza con la ruta de tu imagen */
            background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            background-position: center; /* Centra la imagen en la pantalla */
            color: #333;
            display: flex;
            flex-direction: column; /* Asegura que el footer esté al final */
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ajuste para centrar el contenido verticalmente */
        }

        .about-me {
            background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de transparencia */
            padding: 20px;
            max-width: 600px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
            margin-bottom: 20px; /* Espacio entre la sección y el footer */
        }

        .about-me h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #333;
        }

        .about-me p {
            line-height: 1.6;
            font-size: 1em;
            color: #666;
            margin-bottom: 1em;
        }

      footer {
    background-color: #0e0d0db7;
    color: #fff;
    padding: 20px 10px; /* Aumenta el padding para darle más espacio */
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

    </style>
</head>
<body>
    <div class="about-me">
        <h2>Sobre Mí</h2>
        <p>Hola, soy Yoshua Kevin Yafeth De León Ovalle, tengo 22 años, naci un 05 de noviembre del 2001, 
            soy del departamento de solola, y Me gusta la programación y el diseño web,
             quedamos atentos al correo: yafethdeleon@gmail.com y el numero de telefono: 55146970</p>
        
    </div>

    {{>footer}}
</body>
</html>

