<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- MENU ENCABEZADO -->
    {{> header}}

    <!-- SECCION CONTACTO -->
    <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>Contacto</h2>
            <div class="fila">
                <!-- Formulario -->
                <div class="col">
                    <input type="text" placeholder="Tu Nombre" class="input-animado">
                    <input type="text" placeholder="Número telefónico" class="input-animado">
                    <input type="email" placeholder="Dirección de correo" class="input-animado">
                    <input type="text" placeholder="Tema" class="input-animado">
                    <textarea placeholder="Mensaje" class="input-animado"></textarea>
                    <button class="btn-animado">
                        Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </div>
                <!-- Mapa e información -->
                <div class="col">
                    <img src="/images/programacion-hd.jpg" alt="Ubicación" class="mapa-animado">
                    <div class="info">
                        <ul>
                            <li><i class="fa-solid fa-location-dot"></i> 8av. 3-16 Zona 2, Sololá</li>
                            <li><i class="fa-solid fa-mobile-screen"></i> Llamanos: +502 5514 6970</li>
                            <li><i class="fa-solid fa-envelope"></i> Email: ydeleono2@miumg.edu.gt</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{> footer}}
</body>
</html>
























































