<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <title>Portfolio</title>
</head>
<body>
    <!-- MENU ENCABEZADO -->
    
        {{> header}}
    </div>

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio"> <!-- La clase 'inicio' se aplica aquí -->
        <div class="contenido-inicio">
            <div class="texto-intro">
                <h1>Yoshua Kevin Yafeth de León Ovalle</h1> <!-- Actualiza tu nombre aquí -->
                <h2>Estudiante de Ingeniería en Sistemas</h2>
                <h2>Mariano Gálvez de Guatemala</h2>
                <p>En programación, la simplicidad es la clave para la eficiencia</p>
                
                <!-- Agrega tu imagen aquí -->
                <img src="https://i.imgur.com/QueAj6q.jpg" alt="Yoshua Kevin Yafeth de León Ovalle" class="foto-perfil">
                
                <div class="redes">
                    <a href="https://www.linkedin.com/in/tu-perfil" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/tu-usuario" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://twitter.com/tu-usuario" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

    {{>footer}}
</body>
</html> 
