<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <title>VETERIANARIA</title>
</head>
<body>
    <!-- MENU ENCABEZADO -->
    {{> header}}

    <!-- SECCIÓN DE PROYECTOS -->
    <div class="proyectos">
        <div class="contenido-seccion">
            <h2>.</h2>
            <h2> VETERINARIA C++</h2>
            <div class="galeria">
                <!-- Proyecto 1 -->
                <div class="proyecto">
                    <img src="/images/VETERINARIA/1.jpg" alt="Proyecto 1">
                    <div class="overlay">
                        <h3>Proyecto 1</h3>
                        <p>AQUI PODEMOS OBSERVAR EL INICIO.</p>
                    </div>
                </div>
                <!-- Proyecto 2 -->
                <div class="proyecto">
                    <img src="/images/VETERINARIA/2.jpg" alt="Proyecto 2">
                    <div class="overlay">
                        <h3>Proyecto 2</h3>
                        <p>SECCION PERROS.</p>
                    </div>
                </div>
               <!-- Proyecto 3 -->
                <div class="proyecto">
                    <img src="/images/VETERINARIA/3.jpg" alt="Proyecto 1">
                    <div class="overlay">
                        <h3>Proyecto 1</h3>
                        <p>YA MIRAMOS LOS PERROS QUE HEMOS REGISTRADO.</p>
                    </div>
                </div>
                 <!-- Proyecto 4 -->
                <div class="proyecto">
                    <img src="/images/VETERINARIA/4.jpg" alt="Proyecto 1">
                    <div class="overlay">
                        <h3>Proyecto 1</h3>
                        <p>IMPRESION DE DATOS.</p>
            </div>
        </div>
    </div>

    <!-- VIDEO DE YOUTUBE -->
    <div class="video-seccion">
        <h2>Video de Presentación</h2>
        <div class="video-contenedor">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/k8BSogLl-tg?si=CPtVjU066cPP5p0y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

</div>

</div>

       {{>footer}}
</body>
</html> 

