 <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <title>PROYECTOS</title>
</head>
<body>
    <!-- MENU ENCABEZADO -->
        {{> header}}
    </div>
 <section id="proyectos" class="proyectos">
        <div class="contenido-seccion">
        </h2>..</h2>
         </h2>..</h2>
            <h2>PROYECTOS</h2>
            <div class="galeria">
               <a href="/proyecto1">
                <div class="proyecto">
                    <img src="/images/veterinariac++.png" alt="">
                    <div class="overlay">
                        <h3>click</h3>
                            <p>para mas informacion</p>
                    </div>
                    <h3 class="citas">VETERINARIA C++</h3>
                </div>
               </a>
                <a href="/proyecto2">
                    <div class="proyecto">
                        <img src="/images/ETICA/PORTADA.jpg" alt="">
                        <div class="overlay">
                            <h3>click</h3>
                            <p>Para mas informaciónL</p>
                        </div>
                        <h3 class="citas">PROYECTO ETICA</h3>
                    </div>
                </a>
                <a href="/proyecto3">
                    <div class="proyecto">
                        <img src="/images/INDEMNIZACION/INDEMNIZACION.jfif" alt="">
                        <div class="overlay">
                            <h3>dale click</h3>
                            <p>para mas informacion</p>
                        </div>
                        <h3 class="citas">CALCULO INDEMNIZACION GUATEMALA</h3>
                    </div>
                </a>
                <a href="/proyecto4">
                    <div class="proyecto">
                        <img src="/images/MRUYMRUV/mru.jpg" alt="">
                        <div class="overlay">
                            <h3> click</h3>
                            <p>para mas informacion</p>
                        </div>
                        <h3 class="citas">MRU Y MRUV</h3>
                    </div>
                </a>
                <a href="/proyecto5">
                    <div class="proyecto">
                        <img src="/images/LAMPARA/LAMPARA.jpeg" alt="Lámpara" width="200" height="300">
                        <div class="overlay">
                            <h3>dale click</h3>
                            <p>para mas informacion</p>
                        </div>
                        <h3 class="citas">LAMPARA INTELIGENTE</h3>
                    </div>
                </a>
                <a href="/proyecto6">
                    <div class="proyecto">
                        <img src="/images/ANALISADOR/PORTADA.jpg" alt="">
                        <div class="overlay">
                            <h3>dale click</h3>
                            <p>para mas informacion</p>
                        </div>
                        <h3 class="citas">ANALIZADOR LEXICO, SEMANTICO Y SINTACTICO</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>

        {{>footer}}
</body>
</html> 
