<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <title>LAMPARA INTELIGENTE</title>
</head>
<body>
    <!-- MENU ENCABEZADO -->
    {{> header}}
    <!-- SECCIÓN DE PROYECTOS -->
    <div class="proyectos">
        <div class="contenido-seccion">
            <h2>.</h2>
            <h2>LAMPARA INTELIGENTE</h2>
            <div class="galeria">
                <!-- Proyecto 1 -->
                <div class="proyecto">
                    <img src="/images/LAMPARA/1.jpg" alt="Proyecto 1">
                    <div class="overlay">
                        <h3>Proyecto 1</h3>
                        <p>USAMOS UNA RESPBERRY PI 4</p>
                    </div>
                </div>
                <!-- Proyecto 2 -->
                <div class="proyecto">
                   <img src="/images/LAMPARA/2.jpeg" alt="Proyecto 2" width="1000" height="200">

                    <div class="overlay">
                        <h3>Proyecto 2</h3>
                        <p>USAMOS UNA LAMPARA.</p>
                    </div>
                </div>
               <!-- Proyecto 3 -->
                <div class="proyecto">
                    <img src="/images/LAMPARA/3.jpeg" alt="Proyecto 1">
                    <div class="overlay">
                        <h3>Proyecto 1</h3>
                        <p>UNA CAJA CON TODAS LAS CONEXIONES.</p>
                    </div>
                </div>
                 <!-- Proyecto 4 -->
                <div class="proyecto">
                    <img src="/images/LAMPARA/4.jpeg" alt="Proyecto 4" width="1000" height="200">
                    <div class="overlay">
                        <h3>Proyecto 1</h3>
                        <p>TERMINADA </p>
            </div>
        </div>
       
    </div>

    <!-- VIDEO DE YOUTUBE -->
    <div class="video-seccion">
        <h2>Video de Presentación</h2>
        <div class="video-contenedor">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wqAXXoC2UQc?si=UIqKaVNusuTon6E8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

</div>

</div>

       {{>footer}}
</body>
</html> 